body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lavenderblush;
    
}

.logo img {
    height: 75px;
}

nav {
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #333;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text-container {
    max-width: 600px;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.brown-text {
    color: brown;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#searchInput {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
}

.story {
    text-align: center;
}

.wahh {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}
